<header>
<div class="jumbotron">
<center>
<%= image_tag("logo2.png", height: 175, width:700 ,:alt => "rss feed") %>
<h2 align="center"> Alumini Portal </h2>
</center>
</div>

</header>


<%= render 'form', form: @form %>

